name: Build SDL Binaries

on:
    pull_request:
    #workflow_dispatch:
    #  inputs:
    #    sdl-version:
    #      description: "SDL version"
    #      required: true
    #      type: string
    #    ttf-version:
    #      description: "SDL_ttf version"
    #      required: true
    #      type: string
    #    mixer-version:
    #      description: "SDL_mixer version"
    #      required: true
    #      type: string
    #    image-version:
    #      description: "SDL_image version"
    #      required: true
    #      type: string

env:
  sdl-version: 3.2.16
  ttf-version: 3.2.0
  mixer-version: main
  image-version: 3.2.0

jobs:
  build:
    name: Call workflows
    runs-on: ubuntu-latest
    steps:
        # Build all binaries
        - name: SDL
          uses: ./sdl-build/sdl.yml
          with:
            version: ${{ env.sdl-version }}
        - name: SDL_ttf
          uses: ./sdl-build/sdl-ttf.yml
          with:
            version: ${{ env.ttf-version }}
        - name: SDL_mixer
          uses: ./sdl-build/sdl-mixer.yml
          with:
            version: ${{ env.mixer-version }}
        - name: SDL_image
          uses: ./sdl-build/sdl-image.yml
          with:
            version: ${{ env.image-version }}
        # Download all artifacts
        - name: Download artifacts
          uses: actions/download-artifact@v5
          with:
            path: artifacts
            pattern: sdl-*
            merge-multiple: true
        - name: List artifacts
          run: ls -lR ./artifacts
