name: Build SDL Binaries

on:
    pull_request:
    #workflow_dispatch:
    #  inputs:
    #    sdl-version:
    #      description: "SDL version"
    #      required: true
    #      type: string
    #    ttf-version:
    #      description: "SDL_ttf version"
    #      required: true
    #      type: string
    #    mixer-version:
    #      description: "SDL_mixer version"
    #      required: true
    #      type: string
    #    image-version:
    #      description: "SDL_image version"
    #      required: true
    #      type: string

# env:
#   sdl-version: 3.2.16
#   ttf-version: 3.2.0
#   mixer-version: main
#   image-version: 3.2.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-sdl:
    name: SDL
    uses: ./.github/workflows/build-sdl.yml
    with:
      version: 3.2.16
    
  build-ttf:
    name: SDL_ttf
    uses: ./.github/workflows/build-sdl-ttf.yml
    with:
      version: 3.2.0
  
  build-mixer:
    name: SDL_mixer
    uses: ./.github/workflows/build-sdl-mixer.yml
    with:
      version: main
  
  build-image:
    name: SDL_image
    uses: ./.github/workflows/build-sdl-image.yml
    with:
      version: 3.2.0
  
  push-binaries:
    needs: [build-sdl, build-ttf, build-mixer, build-image]
    runs-on: ubuntu-latest
    permissions:
        pull-requests: write
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        path: artifacts
        pattern: sdl-*
        merge-multiple: false
    - name: List artifacts
      run: ls -lR ./artifacts
    - name: Extract Windows binaries
      run: |
        mv ./artifacts/sdl-windows-x64/SDL3.dll ./bin/binsdl/assets/sdl_amd64.dll
        mv ./artifacts/sdl-windows-arm64/SDL3.dll ./bin/binsdl/assets/sdl_arm64.dll
        mv ./artifacts/sdl-ttf-windows-x64/SDL3_ttf.dll ./bin/binttf/assets/ttf_amd64.dll
        mv ./artifacts/sdl-ttf-windows-arm64/SDL3_ttf.dll ./bin/binttf/assets/ttf_arm64.dll
        mv ./artifacts/sdl-image-windows-x64/SDL3_image.dll ./bin/binimg/assets/img_amd64.dll
        mv ./artifacts/sdl-image-windows-arm64/SDL3_image.dll ./bin/binimg/assets/img_arm64.dll
      # TODO: mixer
    - name: Extract Linux binaries
      run: |
        mv ./artifacts/sdl-linux/libSDL3.so.0 ./bin/binsdl/assets/sdl.so
        mv ./artifacts/sdl-ttf-linux/libSDL3_ttf.so.0 ./bin/binttf/assets/ttf.so
        mv ./artifacts/sdl-image-linux/libSDL3_image.so.0 ./bin/binimg/assets/img.so
        mv ./artifacts/sdl-mixer-linux/libSDL3_mixer.so.0 ./bin/binmix/assets/mix.so
    - name: Extract MacOS binaries
      run: |
        mv ./artifacts/sdl-apple-macOS-x86_64/libSDL3.dylib ./bin/binsdl/assets/sdl_amd64.dylib
        mv ./artifacts/sdl-apple-macOS-arm64/libSDL3.dylib ./bin/binsdl/assets/sdl_arm64.dylib
        mv ./artifacts/sdl-ttf-apple-macOS-x86_64/libSDL3_ttf.dylib ./bin/binttf/assets/ttf_amd64.dylib
        mv ./artifacts/sdl-ttf-apple-macOS-arm64/libSDL3_ttf.dylib ./bin/binttf/assets/ttf_arm64.dylib
        mv ./artifacts/sdl-image-apple-macOS-x86_64/libSDL3_image.dylib ./bin/binimg/assets/img_amd64.dylib
        mv ./artifacts/sdl-image-apple-macOS-arm64/libSDL3_image.dylib ./bin/binimg/assets/img_arm64.dylib
        mv ./artifacts/sdl-mixer-apple-macOS-x86_64/libSDL3_mixer.dylib ./bin/binmix/assets/mix_amd64.dylib
        mv ./artifacts/sdl-mixer-apple-macOS-arm64/libSDL3_mixer.dylib ./bin/binmix/assets/mix_arm64.dylib
    
    - name: Push changes & PR
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git checkout -b binaries-update
        git status
        git add ./bin
        git commit -m "Bump binaries version"
        git push origin --set-upstream binaries-update
        gh pr create -B main -H binaries-update --title 'Update embedded SDL libraries' --body 'Test'