name: Build SDL Binaries

on:
    pull_request:
    #workflow_dispatch:
    #  inputs:
    #    sdl-version:
    #      description: "SDL version"
    #      required: true
    #      type: string
    #    ttf-version:
    #      description: "SDL_ttf version"
    #      required: true
    #      type: string
    #    mixer-version:
    #      description: "SDL_mixer version"
    #      required: true
    #      type: string
    #    image-version:
    #      description: "SDL_image version"
    #      required: true
    #      type: string

# env:
#   sdl-version: 3.2.16
#   ttf-version: 3.2.0
#   mixer-version: main
#   image-version: 3.2.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-sdl:
    name: SDL
    uses: ./.github/workflows/build-sdl.yml
    with:
      version: 3.2.16
    
  build-ttf:
    name: SDL_ttf
    uses: ./.github/workflows/build-sdl-ttf.yml
    with:
      version: 3.2.0
  
  build-mixer:
    name: SDL_mixer
    uses: ./.github/workflows/build-sdl-mixer.yml
    with:
      version: main
  
  build-image:
    name: SDL_image
    uses: ./.github/workflows/build-sdl-image.yml
    with:
      version: 3.2.0
  
  push-binaries:
    needs: [build-sdl, build-ttf, build-mixer, build-image]
    runs-on: ubuntu-latest
    permissions:
        pull-requests: write
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        path: artifacts
        pattern: sdl-*
        merge-multiple: true
    - name: List artifacts
      run: ls -lR ./artifacts
    - name: Extract windows binaries
      run: |
        unzip 'sdl-windows-*.zip' 'SDL3.zip/SDL3.dll' -d ./bin/binsdl/
        unzip 'sdl-ttf-windows-*.zip' 'SDL3_ttf.zip/SDL3_ttf.dll' -d ./bin/binttf/
        unzip 'sdl-image-windows-*.zip' 'SDL3_image.zip/SDL3_image.dll' -d ./bin/binimg/
      # TODO: mixer
    
      # TODO: extract linux binaries
      # TODO: extract macos binaries
    
    - name: Push changes & PR
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git checkout -b binaries-update
        git add ./bin
        git commit -m "Bump binaries version"
        git push origin --set-upstream binaries-update
        gh pr create -B main -H binaries-update --title 'Merge branch_to_merge into base_branch' --body 'Created by Github action'